* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}

header {
    overflow: hidden; /* Establece un contexto para flotar los elementos internos */
}

.logo-left {
    float: left;
    width: 20%; /* Ancho de la imagen izquierda */
    margin-left: 1em; /* Añade margen a la izquierda para separarla del borde de la ventana */
}

.logo-right {
    float: right;
    width: 20%; /* Ancho de la imagen derecha */
    margin-right: 1em; /* Añade margen a la izquierda para separarla del borde de la ventana */
    margin-top: 6%; /* Añade margen a la parte superior para separarla del borde de la ventana */
}

nav {
    background-color: #374E8E;
    text-align: center;
}

    nav a {
        color: #FFF;
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
    }

        nav a:hover {
            color: red;
        }

section {
    float: left;
    height: auto;
    margin: 0 0.5em 0 0.5em;
    width: 60%;
}

article {
    border: 1px solid #CCC;
    margin-top: 0.5em;
    padding: 1em;
}

p {
    text-align: justify;
}

aside {
    background-color: lightgray;
    display: flex;
    margin-top: 0.5em;
    padding: 1em;
    width: 37.5%;
    align-items: center;
    justify-content: center;
    height: 200px; /* Establece la altura deseada del área del aside */
}

/* Estilos para la imagen GIF dentro del aside */
.gift-aside {
    max-width: 100%; /* Asegura que la imagen no se desborde del área del aside */
    max-height: 100%; /* Asegura que la imagen no se desborde del área del aside */
}

footer {
    background-color: #374E8E;
    bottom: 0;
    padding: 1em 0 1em 0;
    position: fixed;
    width: 100%;
}

    footer p {
        color: #FFF;
        font-size: 0.9em;
        text-align: center;
    }
